$accent: #D4C17F;
$dark: #242B33;

%play-700 {
  font-family: "PlayfairDisplay-Bold";
  font-weight: 700;
}

%raleway-400 {
  font-family: "Raleway-Regular";
  font-weight: 400;
}

%raleway-700 {
  font-family: "Raleway-Bold";
  font-weight: 700;
}

%roboto-300 {
  font-family: "Roboto-Light";
  font-weight: 300;
}